:80 {
    encode gzip

handle /clients* {
        reverse_proxy client-service:80
    }

    handle /products* {
        reverse_proxy product-service:80
    }

    handle /sales* {
        reverse_proxy cart-service:8080
    }

    handle /api/currency* {
        reverse_proxy currency-service:5000
    }

    handle {
        respond "Rota não encontrada no Caddy" 404
    }

    log {
        output stdout
        format console
        level INFO
    }
}
